<div class="post">
    <h2 class="post-title">
        <a href="{{ .Permalink }}"> {{ .Title }}</a>
    </h2>
    <div class="post-content">
        {{ .Content }}
    </div>

    <div class="in-post-summary">
        {{ range .Params.tags }}
            {{ $name := . }}
            {{ with $.Site.GetPage (printf "/tags/%s" $name ) }}
                <a class="in-post-tag" href="{{ .Permalink }}">{{ $name }}</a>
            {{ end }}
        {{ end }}
        <span>&middot;</span>
        <span>{{ .Date.Format "2 Jan 2006" }}</span>
    </div>
</div>
<div class="post-divider"></div>
