<h1>
    <a id="blog-title" href="/">notes</a>
</h1>

<div data-content="SEARCH"></div>
<input id="search-query" placeholder="Search" />
<div id="search-results" style="display:none;"></div>

<div data-content="TAGS"></div>
<div>
{{ partial "tags.html" . }}
</div>

<div data-content="FIND ME ON"></div>
<div class="social-links">
<a href="https://github.com/jsnjack" title="jsnjack's profile on github.com" target="_blank">
    <img src="/svg/github-logo.svg">
</a>
<a href="https://www.linkedin.com/in/yshulitski/" title="jsnjack's profile on linkedin" target="_blank">
    <img src="/svg/linkedin.svg">
</a>
</div>
