{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
    {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
        {{ $.Scratch.Set "current" (slicestr $name 0 1) }}
        {{ if ne ($.Scratch.Get "current") ($.Scratch.Get "previous") }}
            <div class="tag-letter">{{ $.Scratch.Get "current" }}</div>
        {{ end }}
        <span style="white-space: nowrap;">
            <a
                href="{{ .Permalink }}"
                class="sidebar-tag"
            >
                {{ $name }}
            </a>
            <sup>{{ $taxonomy.Count }}</sup>
        </span>
        {{ $.Scratch.Set "previous" ($.Scratch.Get "current") }}
    {{ end }}
{{ end }}
