body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
}

.sidebar {
    padding-right: 2em;
}

.post {
    .post-title {
        margin-bottom: 1em;
    }
    .in-post-summary {
        font-size: 80%;
        padding-bottom: 1em;
    }
    .in-post-tag {
        border: 0.1em solid $primary-color;
        border-radius: 0.3em;
        padding: 3px 6px 3px 6px;
        margin-left: 3px;
        text-decoration:none;
        &:hover {
            background: $primary-color;
            color: $light-color;
        }
    }
    pre {
        overflow-x: auto;
        line-height: normal;
    }
    code {
        font-size: 85%;
    }
    border-left: 0.12em solid grey;
    padding-left: 1em;

}

@media (max-width: $size-sm) {
    .content {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
}
